#delicious {
  @include animation-delay(.5s);
  @include animation-duration(1.0s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

#nutritious {
  @include animation-delay(.80s);
  @include animation-duration(1.0s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

#sustainable {
  @include animation-delay(1.10s);
  @include animation-duration(1.0s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

#tagline {
  @include animation-delay(1.7s);
  @include animation-duration(1.5s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

.pageTitle.about h2 {
  display: inline-block;
  position: relative;
  color: $darkBlue;
  //text-align: center;
}

.even {
  display: flex;
  justify-content: space-between;
}

.pageTitle.about {
  padding: 200px 0;
}


.pageTitle.about h2:first-of-type:after {
  content: "+";
  position: absolute;
  color: $red;
  font-size: 30px;
  right: -43px;
  bottom: 14px;
}

.pageTitle.about h2:last-of-type:after {
  content: "+";
  position: absolute;
  color: $red;
  font-size: 30px;
  left: -43px;
  bottom: 14px;
}

.pageTitle.about p {
  display: block;
  margin: 60px auto 30px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  line-height: 35px;
  color: $grey;
  max-width: 650px;
}

.pageTitle.about p em {
  font-style: normal;
  font-weight: 500;
}

.aboutStripe {
  position: relative;
  opacity: 0;
  //display: none;
  //overflow-x: hidden;
  //overflow-y: visible;
  background-color: $darkBlue;
  color: white;
  padding: 40px 0px;
  margin-bottom: 120px;
  text-align: left;
}

.aboutStripe h4 {
  margin-bottom: 10px;
}

.aboutStripe h4.quote {
  position: absolute;
  top: 90px;
  right: 70px;
  font-weight: 300;
  width: 400px;
  color: $lightBlue;
  z-index:99;
}

.aboutStripe h4.quote:before {
  content: '“';
  position: absolute;
  font-size: 87px;
  left: -40px;
  top: -20px;
  color: $lightBlue;

}

.aboutStripe h4.quote:after {
  content: '”';
  position: absolute;
  font-size: 87px;
  right: 190px;
  bottom: -60px;
  color: $lightBlue;
}

#blue1 {
  position: absolute;
  top: -170px;
  right: 120px;
  z-index: -99;
  @include animation-delay(.5s);
}

#blue2 {
  position: absolute;
  bottom: -168px;
  right: 300px;
    z-index: -99;
  @include animation-delay(.5s);
}

.aboutStripe p {
  font-weight: 100;
}

.aboutReasons h2 {
  max-width: 600px;
  color: $darkBlue;
  margin-bottom: 100px;
}

.aboutReasons {
  margin-bottom: 150px;
}

.aboutReasons .menuItem {
  height: 175px;
  text-align: left;
}

.aboutReasons .menuText {
  padding-left: 75px;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.aboutReasons .menuText img {
  position: absolute;
  left: 15px;
  top: 15px;
  width:40px;
}

.aboutReasons .menuItem:after {
  text-align: left;
  bottom: 25px;
  left: 75px;
}

.aboutReasons .menuItem.taste:after {
  content: "Explore our menu";
}
