.pageHero.culture {
  background-image: url("../images/thai_dude.jpg");
  background-position: center 65%;
}

.discoverStripe {
  position: relative;
  background-color: $darkBlue;
  padding: 30px 0px;
  text-align: center;
  color: white;
  margin: 70px 0px;
}

.discoverStripe h3 {
  margin: 0 0 10px 0;
  //font-weight: 500;
}

.discoverStripe div {
  width: 750px;
  margin: 0 auto;
}

.discoverStripe p {
  margin: 0;
}


.map {
  position: relative;
  padding: 0 0 0 120px;
  overflow: hidden;
}

.map img {
  margin: 0 auto;
}

.marker {
  position: absolute;
  height: 25px;
  width: 25px;
  background: $red;
  border-radius: 25px;
  border: 4px solid white;
  cursor: pointer;
}

.marker.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.marker:after {
  content: "Locust";
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  top: -55px;
  box-shadow: 0px 3px 5px #CCCCCC;
  left: -35px;
  opacity: 0;
  @extend p.sub;
  @include transition(all .3s ease);
}

.marker:hover:after {
  opacity: 1;
}

.marker.disabled:hover:after {
  opacity: 0;
}

#israel {
  top: 33%;
  left: 55%;
}
#m2 {
  top: 28%;
  left: 75%;
}
#m3 {
  top: 40%;
  left: 16%;
}
#m4 {
  top: 57%;
  left: 76%;
}
#m5 {
  top: 49%;
  left: 44%;
}
#m6 {
  top: 63%;
  left: 28%;
}
#m7 {
  top: 78%;
  left: 52%;
}

.modal {
  opacity: 0;
  //display: block;
  //display: none;
  visibility: hidden;
  height: 600px;
  width: 1000px;
  background-color: $red;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  @include transform(scale(.9));
  z-index: 999;
  @include transition(visibility 0s ease 0s, opacity 0.5s ease 0.3s, transform 0.5s ease-out 0.3s);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  @include transform(scale(1));
}

.modal .left {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../images/locust.jpg");
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}

.modal .right {
  float: left;
  color: white;
  padding: 40px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.modal .right p.sub {
  color: $darkRed;
  margin-bottom: 50px;
}

.modal .right h3 {
  margin-bottom: 0;
}

.modal:after {
  content: "x";
  font-family: museoSans;
  font-weight: 100;
  font-size: 46px;
  position: absolute;
  right: 10px;
  top: -13px;
  cursor: pointer;
}

.overlay {
  display: none;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.alreadyEat {
  margin-top: 160px;
  margin-bottom: 120px;
}

.alreadyEat .heading {
  margin-bottom: 90px;
}

.alreadyEat h5 {
  margin: 0;
  color: $red;
}

.alreadyEat h4 {
  position: relative;
  margin-bottom: 35px;
  color: $darkBlue;
}

.alreadyEat h4:after {
  content: "";
  position: absolute;
  background-color: $darkBlue;
  height: 3px;
  width: 190px;
  bottom: -3px;
  left: 0;
}

.alreadyEat h2 {
  color: $red
}

.alreadyEat p {
  max-width: 600px;
}

.alreadyEat .item {
  text-align: center;
  color: $darkBlue;
}

.alreadyEat .item h2 {
  color: $darkBlue;
}

.alreadyEat .item img {
  margin-bottom: 30px;
  height: 150px;
}

.alreadyEat .item p {
  margin-bottom: 10px;
}

#fragments {
  position: absolute;
  right: 0;
  top: -200px;
  width: auto;
  height: 125%;
  z-index: -9;
}

.natural {
  position: relative;
  padding: 50px 0 150px 0;
  background-color: $darkBlue;
  color: white;
  //margin-bottom: 100px;
  margin-top: 100px;
}

.natural h2 {

}

#cave {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.photoCaption {
  position: absolute;
  left: 230px;
  bottom: -90px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  @extend p;
  font-size: 15px;

}
