.footer {
  background-color: $lightGrey;
  padding: 75px 0;
}

p.subtitle{
  color: $darkBlue;
  font-weight: 700;
}

p.sub {
  color: $grey;
}

.footer form {
  margin-bottom: 0;
  position: relative;
}

.footer input {
  @extend h3;
  width: 80%;
  color: $red;
  background: none;
  margin-bottom: 0;
  border: none;
  border-bottom: 2px solid $red;
  height: auto;
  padding: 0;
  border-radius: 0;
  @include placeholder {
    color: $red;
  }
}

.footer input:focus {
    border: none;
    border-bottom: 2px solid $red;
    //color: $Grey;
}

.footer .formSubmit {
    position: absolute;
    content: "";
    background-image: url("../images/arrow_right_white.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: $red;
    right: 77px;
    top: 8px;
    display: none;
    @include transition(all .5s ease);
    cursor: pointer;
}


.footer .info img {
  width: 30px;
  margin-right: 10px;
  height: auto;
}
.copyright {
  height: 50px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.copyright p {
  line-height: 50px;
  font-weight: 300;
}
