a.text {
  position: relative;
  color: $red;
  font-family: museoSans, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
}

a.text:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: $red;
  opacity: 0;
  @include transition(all .2s ease-in-out);
  @include transform(translateY(6px));
}

a.text:hover {
  color: $red;
}

a.text:hover:before {
  opacity: 1;
  @include transform(translateY(0px));
}

a.text.disabled:hover:before {
  opacity: 1;
  @include transform(translateY(-11px));
}

a.text:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat;
}

a.text.inline:after {
  display: none;
}

a.button {
  position: relative;
  background-color: rgba(191, 64, 31, 1);
  height: auto;
  width: auto;
  padding: 15px 35px;
  font-family: museoSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 6px;
  border: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  overflow: hidden;
  @include transition(all .2s ease-out);
  -webkit-box-shadow:inset 0px 0px 0px 0px $red;
}

a.button.ghost {
  background-color: rgba(191, 64, 31, 0);
  display: inline-block;
  color: $cream;
  border: 3px solid $cream;
  -webkit-box-shadow: 0px 0px 0px $red;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}

a.button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  @include transition(all .2s ease-out);
  @include transform(translateY(-50px));
  background-color: white;
}

a.button.ghost:before {
  background-color: $cream;
}

a.button:after {
  opacity: 0;
  content: attr(data-hover);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  font-family: museoSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $red;
  @include transition(all .2s ease-out);
  @include transform(translateY(-50px));
}

a.button.ghost:after {
  bottom: 14px;
}

a.button:hover{
  color: rgba(191, 64, 31, 1);
  border-radius: 0px;
}

a.button:hover:before {
  @include transform(translateY(-6px));
}

a.button.darkBG:hover:before {
  @include transform(translateY(0));
}

a.button:hover:after {
  opacity: 1;
  @include transform(translateY(-5px));
}

a.button.ghost:hover:before {
  @include transform(translateY(0));
}

a.button.ghost:hover:after {
  opacity: 1;
  @include transform(translateY(0));
}

a.buttonNoWhite {

}

.hide {
  visibility: hidden;
}

.disabled {
  cursor: not-allowed !important;
}

.whiteCover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#arrowDown {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 78px;
  z-index: -9999;
  overflow: hidden;
}

#arrowDown img {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: auto;
  @include animation-duration(1.5s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
  z-index: 1;
}

.notScrolled {
  //opacity: 1 !important;
}

.nextNav {
  text-align: right;
  color: white;
  background-color: $red;
  height: 80px
}

.nextNav img {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.nextNav h5 {
  float: right;
  line-height: 80px;
  font-weight: 300;
  position: relative;
  color: white;
}

.nextNav h5:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 24px;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0;
  @include transition(all .2s ease-in-out);
  @include transform(translateY(6px));
}

.nextNav h5:hover:before {
  opacity: 1;
  @include transform(translateY(0px));
}

.nextNav h5:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 32px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right_white.png");
  background-position: center center;
  background-repeat: no-repeat;
}
