.pageHero {
  margin-top: 80px;
  width: 100%;
  height: 550px;
  background-position: center center;
  background-size: cover;
  @include animation-duration(1.5s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

.tacoHero {
  background-image: url("../images/taco_hero.jpg");
}

.pageTitle {
  padding: 60px 0px 30px 0px;
  @include animation-duration(1.5s);
  @include animation-fill-mode(both);
  @include animation-timing-function(easeOutQuint);
}

.pageTitle h2 {
  color: $red;
}

.pageTitle p {
  max-width: 600px;
}

.menuStripe {
  //background-color: $red;
  color: $darkBlue;
  padding: 25px 0px;
  margin-bottom: 50px;
  text-align: left;
}

.menuStripe h4 {
  margin: 0;
}

.menuContainer {
  box-sizing: border-box;
}

.menuItem {
  margin-bottom: 40px;
  position: relative;
  height: 380px;
  text-align: center;
  box-shadow: none;
  overflow: hidden;
  cursor: pointer;
  @include transition(all 0.2s ease-out);
}

.menuItem:hover {
  box-shadow: 0px 3px 5px #CCCCCC;
  @include transform(translateY(-3px));
}

/*
.menuItem:hover:after {
  opacity: 1;
  @include transform(translateY(0));
}*/

.menuItem img {
  display: block;
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.menuText {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 60px;
  padding-right: 15px;
}

.menuItem h4 {
  color: $red;
  margin-bottom: 0;
}

.menuItem p {
  color: black;
  margin-bottom: 12px;
}





.menuTextLink {
  position: relative;
  display: inline-block;
  color: $red !important;
}

.menuTextLink:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.menuTextLink:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: $red;
  opacity: 0;
  @include transition(all .2s ease-in-out);
  @include transform(translateY(6px));
}

.menuItem:hover .menuTextLink:before {
  opacity: 1;
  @include transform(translateY(0px));
}
