@charset "UTF-8";
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -o-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1s easeOutQuint forwards;
  -moz-animation: fadeInRight 1s easeOutQuint forwards;
  animation: fadeInRight 1s easeOutQuint forwards; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation: fadeIn 1s easeOutQuint forwards;
  -moz-animation: fadeIn 1s easeOutQuint forwards;
  animation: fadeIn 1s easeOutQuint forwards; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -moz-transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeColor {
  from {
    color: white; }
  to {
    color: initial; } }
@-moz-keyframes fadeColor {
  from {
    color: white; }
  to {
    color: initial; } }
@keyframes fadeColor {
  from {
    color: white; }
  to {
    color: initial; } }
.fadeColor {
  -webkit-animation: fadeColor 1s easeOutQuint forwards;
  -moz-animation: fadeColor 1s easeOutQuint forwards;
  animation: fadeColor 1s easeOutQuint forwards; }

.fadeOut {
  -webkit-animation: fadeIn 1s easeOutQuint forwards;
  -moz-animation: fadeIn 1s easeOutQuint forwards;
  animation: fadeIn 1s easeOutQuint forwards; }

.fadeInLeft {
  -webkit-animation: fadeInLeft 1s easeOutQuint forwards;
  -moz-animation: fadeInLeft 1s easeOutQuint forwards;
  animation: fadeInLeft 1s easeOutQuint forwards; }

@-webkit-keyframes slideInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideInRight {
  from {
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -o-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  -webkit-animation: slideInRight 1s easeOutQuint forwards;
  -moz-animation: slideInRight 1s easeOutQuint forwards;
  animation: slideInRight 1s easeOutQuint forwards; }

@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideInLeft {
  from {
    opacity: 0;
    -moz-transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation: slideInLeft 1s easeOutQuint forwards;
  -moz-animation: slideInLeft 1s easeOutQuint forwards;
  animation: slideInLeft 1s easeOutQuint forwards; }

@-webkit-keyframes slideScaleFromTop {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0); } }
@-moz-keyframes slideScaleFromTop {
  from {
    opacity: 0;
    -moz-transform: scale(0.95) translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -moz-transform: scale(1) translate3d(0, 0, 0); } }
@keyframes slideScaleFromTop {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, -100px, 0);
    -moz-transform: scale(0.95) translate3d(0, -100px, 0);
    -ms-transform: scale(0.95) translate3d(0, -100px, 0);
    -o-transform: scale(0.95) translate3d(0, -100px, 0);
    transform: scale(0.95) translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); } }
.slideScaleFromTop {
  -webkit-animation-name: slideScaleFromTop;
  -moz-animation-name: slideScaleFromTop;
  animation-name: slideScaleFromTop; }

@-webkit-keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideFromTop {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -o-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideFromTop {
  -webkit-animation-name: slideFromTop;
  -moz-animation-name: slideFromTop;
  animation-name: slideFromTop; }

@-webkit-keyframes slideFromTopShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideFromTopShort {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideFromTopShort {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideFromTopShort {
  -webkit-animation-name: slideFromTopShort;
  -moz-animation-name: slideFromTopShort;
  animation-name: slideFromTopShort; }

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  animation-name: slideUp; }

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideDown {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes heroIntro {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes heroIntro {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes heroIntro {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    -o-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.heroIntro {
  -webkit-animation-name: heroIntro;
  -moz-animation-name: heroIntro;
  animation-name: heroIntro; }

.delay0 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s; }

.delayhalf {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delayone {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.delay17 {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s; }

.delay25 {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.delay3 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

.delay4 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

@font-face {
  font-family: museo;
  src: url(../fonts/Museo100-Regular.otf);
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: museo;
  src: url(../fonts/Museo300-Regular.otf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: museo;
  src: url(../fonts/Museo500-Regular.otf);
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: museo;
  src: url(../fonts/Museo700-Regular.otf);
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: museo;
  src: url(../fonts/Museo900-Regular.otf);
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: museoSans;
  src: url(../fonts/MuseoSans-100.otf);
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: museoSans;
  src: url(../fonts/MuseoSans-300.otf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: museoSans;
  src: url(../fonts/MuseoSans_500.otf);
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: museoSans;
  src: url(../fonts/MuseoSans_700.otf);
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: museoSans;
  src: url(../fonts/MuseoSans-900.otf);
  font-weight: 900;
  font-style: normal; }
h1 {
  font-family: museo, sans-serif;
  font-weight: 500;
  font-size: 64px; }

h2 {
  font-family: museo, sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px; }

h3, .footer input {
  font-family: museo, sans-serif;
  font-weight: 500;
  font-size: 36px; }

h4 {
  font-family: museoSans, sans-serif;
  font-weight: 700;
  font-size: 26px; }

h5 {
  font-family: museoSans, sans-serif;
  font-weight: 700;
  font-size: 20px; }

h5.body {
  font-family: museoSans, sans-serif;
  font-weight: 500;
  font-size: 20px; }

p, .photoCaption, .tacoIntro .numberReviews {
  font-family: museoSans, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px; }

p.sub, .marker:after, .sub.photoCaption, .tacoIntro .sub.numberReviews {
  font-family: museoSans, sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase; }

a.text {
  position: relative;
  color: #BF401F;
  font-family: museoSans, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none; }

a.text:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #BF401F;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px); }

a.text:hover {
  color: #BF401F; }

a.text:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

a.text.disabled:hover:before {
  opacity: 1;
  -webkit-transform: translateY(-11px);
  -moz-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  -o-transform: translateY(-11px);
  transform: translateY(-11px); }

a.text:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat; }

a.text.inline:after {
  display: none; }

a.button {
  position: relative;
  background-color: #bf401f;
  height: auto;
  width: auto;
  padding: 15px 35px;
  font-family: museoSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 6px;
  border: none;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: inset 0px 0px 0px 0px #BF401F; }

a.button.ghost {
  background-color: rgba(191, 64, 31, 0);
  display: inline-block;
  color: #F0E6BF;
  border: 3px solid #F0E6BF;
  -webkit-box-shadow: 0px 0px 0px #BF401F;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6); }

a.button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  background-color: white; }

a.button.ghost:before {
  background-color: #F0E6BF; }

a.button:after {
  opacity: 0;
  content: attr(data-hover);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  font-family: museoSans;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #BF401F;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px); }

a.button.ghost:after {
  bottom: 14px; }

a.button:hover {
  color: #bf401f;
  border-radius: 0px; }

a.button:hover:before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px); }

a.button.darkBG:hover:before {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

a.button:hover:after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px); }

a.button.ghost:hover:before {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

a.button.ghost:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.hide {
  visibility: hidden; }

.disabled {
  cursor: not-allowed !important; }

.whiteCover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 2; }

#arrowDown {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 78px;
  z-index: -9999;
  overflow: hidden; }

#arrowDown img {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: auto;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint;
  z-index: 1; }

.nextNav {
  text-align: right;
  color: white;
  background-color: #BF401F;
  height: 80px; }

.nextNav img {
  float: right;
  margin-top: 20px;
  margin-right: 20px; }

.nextNav h5 {
  float: right;
  line-height: 80px;
  font-weight: 300;
  position: relative;
  color: white; }

.nextNav h5:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 24px;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px); }

.nextNav h5:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

.nextNav h5:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 32px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right_white.png");
  background-position: center center;
  background-repeat: no-repeat; }

.footer {
  background-color: #F8F8F8;
  padding: 75px 0; }

p.subtitle, .subtitle.photoCaption, .tacoIntro .subtitle.numberReviews {
  color: #3B6566;
  font-weight: 700; }

p.sub, .marker:after, .sub.photoCaption, .tacoIntro .sub.numberReviews {
  color: #737373; }

.footer form {
  margin-bottom: 0;
  position: relative; }

.footer input {
  width: 80%;
  color: #BF401F;
  background: none;
  margin-bottom: 0;
  border: none;
  border-bottom: 2px solid #BF401F;
  height: auto;
  padding: 0;
  border-radius: 0; }
  .footer input::-webkit-input-placeholder {
    color: #BF401F; }
  .footer input::-moz-placeholder {
    color: #BF401F; }
  .footer input:-moz-placeholder {
    color: #BF401F; }
  .footer input:-ms-input-placeholder {
    color: #BF401F; }

.footer input:focus {
  border: none;
  border-bottom: 2px solid #BF401F; }

.footer .formSubmit {
  position: absolute;
  content: "";
  background-image: url("../images/arrow_right_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #BF401F;
  right: 77px;
  top: 8px;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; }

.footer .info img {
  width: 30px;
  margin-right: 10px;
  height: auto; }

.copyright {
  height: 50px;
  background-color: black;
  color: white;
  overflow: hidden; }

.copyright p, .copyright .photoCaption, .copyright .tacoIntro .numberReviews, .tacoIntro .copyright .numberReviews {
  line-height: 50px;
  font-weight: 300; }

.navigation {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.navigation.home {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navigation li {
  float: left;
  position: relative;
  margin: 33px 30px 0px 30px; }

.navigation li a {
  display: block;
  text-decoration: none;
  color: #F0E6BF;
  font-family: museoSans;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase; }

.navigation.navLight {
  background-color: white; }

.navigation.navLight li a {
  color: #BF401F; }

.navigation li a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F0E6BF;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.navigation.navLight li a::after {
  background: #BF401F; }

.navigation li a:hover::after,
.navigation li a.active:after,
.navigation li a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

.navigation .lightLogo {
  float: left;
  height: 40px;
  padding: 15px 30px 15px 0px; }

.hero {
  position: relative;
  background-color: #BF401F;
  height: 875px;
  margin-top: -100px;
  padding-top: 300px;
  z-index: 1;
  background-image: url("../images/patternFine.png");
  background-size: cover;
  overflow: hidden;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.hero h1 {
  color: #F0E6BF;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  max-width: 800px; }

.heroPattern {
  position: absolute; }

#rightPattern {
  bottom: -23%;
  right: 10%; }

#leftPattern {
  bottom: 3%;
  left: -17%; }

#pattern1 {
  position: absolute;
  bottom: -275px;
  right: 200px; }

#bugin {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.hero h4 {
  color: #7A0000;
  margin-bottom: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.hero .button {
  margin-top: 30px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.photoText .photo {
  float: left;
  height: 600px;
  width: 50%;
  background-image: url("../images/truckRenderLeft.jpg");
  background-size: cover;
  box-sizing: border-box; }

.photoText .photoRight {
  float: left;
  height: 600px;
  width: 50%;
  background-image: url("../images/tacos.jpg");
  background-size: cover;
  box-sizing: border-box; }

.photoText .text {
  float: left;
  width: 50%;
  padding: 150px 80px;
  box-sizing: border-box; }

.photoText .text h2 {
  color: #3B6566; }

.photoText .text p, .photoText .text .photoCaption, .photoText .text .tacoIntro .numberReviews, .tacoIntro .photoText .text .numberReviews {
  max-width: 525px; }

.faq {
  background-color: #3B6566;
  color: white;
  text-align: center;
  padding: 50px 0px;
  background-image: url("../images/patternFineBlack.png");
  background-size: cover;
  overflow: hidden; }

.faq h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 40px; }

.faq h2:before {
  content: '“';
  position: absolute;
  font-size: 87px;
  left: -40px;
  top: -5px;
  color: #6CB6BC; }

.faq h2:after {
  content: '”';
  position: absolute;
  font-size: 87px;
  right: -25px;
  bottom: -30px;
  color: #6CB6BC; }

.faq p, .faq .photoCaption, .faq .tacoIntro .numberReviews, .tacoIntro .faq .numberReviews {
  margin-bottom: 8px; }

.pageHero {
  margin-top: 80px;
  width: 100%;
  height: 550px;
  background-position: center center;
  background-size: cover;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.tacoHero {
  background-image: url("../images/taco_hero.jpg"); }

.pageTitle {
  padding: 60px 0px 30px 0px;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.pageTitle h2 {
  color: #BF401F; }

.pageTitle p, .pageTitle .photoCaption, .pageTitle .tacoIntro .numberReviews, .tacoIntro .pageTitle .numberReviews {
  max-width: 600px; }

.menuStripe {
  color: #3B6566;
  padding: 25px 0px;
  margin-bottom: 50px;
  text-align: left; }

.menuStripe h4 {
  margin: 0; }

.menuContainer {
  box-sizing: border-box; }

.menuItem {
  margin-bottom: 40px;
  position: relative;
  height: 380px;
  text-align: center;
  box-shadow: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.menuItem:hover {
  box-shadow: 0px 3px 5px #CCCCCC;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px); }

/*
.menuItem:hover:after {
  opacity: 1;
  @include transform(translateY(0));
}*/
.menuItem img {
  display: block;
  width: 220px;
  height: 220px;
  margin: 0 auto; }

.menuText {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 60px;
  padding-right: 15px; }

.menuItem h4 {
  color: #BF401F;
  margin-bottom: 0; }

.menuItem p, .menuItem .photoCaption, .menuItem .tacoIntro .numberReviews, .tacoIntro .menuItem .numberReviews {
  color: black;
  margin-bottom: 12px; }

.menuTextLink {
  position: relative;
  display: inline-block;
  color: #BF401F !important; }

.menuTextLink:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat; }

.menuTextLink:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #BF401F;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px); }

.menuItem:hover .menuTextLink:before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

.map-container {
  margin-top: 70px;
  height: 450px;
  background-color: #E9E5DB;
  z-index: 99;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint;
  z-index: 98; }

#OTR {
  display: none; }

.fountain, .otr {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.schedule {
  padding: 50px 0;
  background-color: #F8F8F8;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.schedule h4 {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.schedule h5 {
  font-size: 16px;
  margin-bottom: 0;
  color: #737373;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.schedule .active h4,
.schedule .active p.time,
.schedule .active .time.photoCaption,
.schedule .active .tacoIntro .time.numberReviews,
.tacoIntro .schedule .active .time.numberReviews {
  color: #3B6566; }

.schedule h4:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  height: 4px;
  opacity: 0;
  background-color: #3B6566;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); }

.schedule .active h4:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.schedule .active h5 {
  color: #6CB6BC; }

.schedule .button {
  margin-top: 30px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.events {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  z-index: -1; }

.events h3, .events .footer input, .footer .events input {
  color: #3B6566; }

.truckVector {
  position: absolute;
  right: -6%;
  top: 90px; }

.info h5, .info img {
  float: left; }

.info h5 {
  line-height: 60px;
  margin-left: 15px; }

.envHero {
  background-image: url("../images/farm.jpg"); }

.pageTitle.blue {
  margin-top: 80px;
  background-color: #3B6566;
  height: 450px;
  color: white;
  background-image: url("../images/patternFineBlack.png");
  background-size: cover; }

.pageTitle.blue h2 {
  color: white;
  width: 800px;
  margin-top: 60px;
  margin-bottom: 40px; }

.intro-subtext {
  background-color: #F8F8F8;
  padding: 50px; }

.intro-subtext p, .intro-subtext .photoCaption, .intro-subtext .tacoIntro .numberReviews, .tacoIntro .intro-subtext .numberReviews {
  display: block;
  position: relative;
  margin: 0px auto 0px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 31px;
  color: #3B6566;
  width: 900px; }

p.intro-subtext:after, .intro-subtext.photoCaption:after, .tacoIntro .intro-subtext.numberReviews:after {
  content: "";
  display: block;
  background-color: #BF401F;
  height: 4px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px; }

.envCompare h4 {
  position: relative;
  text-align: center;
  color: #3B6566;
  margin-top: 130px;
  margin-bottom: 0; }

.toggleBar {
  width: 100%;
  border: 4px solid #BF401F;
  border-radius: 6px;
  margin: 50px 0px 70px 0px;
  white-space: nowrap;
  overflow: hidden; }

.toggleItem {
  position: relative;
  display: inline-block;
  width: 33.333%;
  text-align: center;
  padding: 8px 0px;
  white-space: nowrap;
  cursor: pointer;
  color: #BF401F;
  font-family: museoSans, sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

.toggleItem.middle:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #BF401F;
  position: absolute;
  left: -4px;
  top: 0; }

.toggleItem.middle:after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #BF401F;
  position: absolute;
  right: -4px;
  top: 0; }

.toggleItem.active {
  background-color: #BF401F;
  color: white; }

.toggleContent {
  -webkit-transition: opacity 0.5s ease 0.1s;
  -moz-transition: opacity 0.5s ease 0.1s;
  transition: opacity 0.5s ease 0.1s;
  margin-bottom: 100px; }

.toggleContent div {
  display: none; }

.toggleContent div h3, .toggleContent div .footer input, .footer .toggleContent div input {
  text-align: left;
  color: #3B6566;
  margin-bottom: 10px;
  width: 550px;
  margin-top: 80px; }

.toggleContent div p, .toggleContent div .photoCaption, .toggleContent div .tacoIntro .numberReviews, .tacoIntro .toggleContent div .numberReviews {
  width: 550px;
  margin-bottom: 80px; }

#delicious {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

#nutritious {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

#sustainable {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

#tagline {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.pageTitle.about h2 {
  display: inline-block;
  position: relative;
  color: #3B6566; }

.even {
  display: flex;
  justify-content: space-between; }

.pageTitle.about {
  padding: 200px 0; }

.pageTitle.about h2:first-of-type:after {
  content: "+";
  position: absolute;
  color: #BF401F;
  font-size: 30px;
  right: -43px;
  bottom: 14px; }

.pageTitle.about h2:last-of-type:after {
  content: "+";
  position: absolute;
  color: #BF401F;
  font-size: 30px;
  left: -43px;
  bottom: 14px; }

.pageTitle.about p, .pageTitle.about .photoCaption, .pageTitle.about .tacoIntro .numberReviews, .tacoIntro .pageTitle.about .numberReviews {
  display: block;
  margin: 60px auto 30px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  line-height: 35px;
  color: #737373;
  max-width: 650px; }

.pageTitle.about p em, .pageTitle.about .photoCaption em, .pageTitle.about .tacoIntro .numberReviews em, .tacoIntro .pageTitle.about .numberReviews em {
  font-style: normal;
  font-weight: 500; }

.aboutStripe {
  position: relative;
  opacity: 0;
  background-color: #3B6566;
  color: white;
  padding: 40px 0px;
  margin-bottom: 120px;
  text-align: left; }

.aboutStripe h4 {
  margin-bottom: 10px; }

.aboutStripe h4.quote {
  position: absolute;
  top: 90px;
  right: 70px;
  font-weight: 300;
  width: 400px;
  color: #6CB6BC;
  z-index: 99; }

.aboutStripe h4.quote:before {
  content: '“';
  position: absolute;
  font-size: 87px;
  left: -40px;
  top: -20px;
  color: #6CB6BC; }

.aboutStripe h4.quote:after {
  content: '”';
  position: absolute;
  font-size: 87px;
  right: 190px;
  bottom: -60px;
  color: #6CB6BC; }

#blue1 {
  position: absolute;
  top: -170px;
  right: 120px;
  z-index: -99;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#blue2 {
  position: absolute;
  bottom: -168px;
  right: 300px;
  z-index: -99;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.aboutStripe p, .aboutStripe .photoCaption, .aboutStripe .tacoIntro .numberReviews, .tacoIntro .aboutStripe .numberReviews {
  font-weight: 100; }

.aboutReasons h2 {
  max-width: 600px;
  color: #3B6566;
  margin-bottom: 100px; }

.aboutReasons {
  margin-bottom: 150px; }

.aboutReasons .menuItem {
  height: 175px;
  text-align: left; }

.aboutReasons .menuText {
  padding-left: 75px;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.aboutReasons .menuText img {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 40px;
  height: auto; }

.aboutReasons .menuItem:after {
  text-align: left;
  bottom: 25px;
  left: 75px; }

.aboutReasons .menuItem:after {
  content: ""; }

.aboutLink {
  display: block;
  text-decoration: none; }

.aboutTextLink {
  position: relative;
  display: inline-block;
  color: #BF401F !important; }

.aboutTextLink:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  background-image: url("../images/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat; }

.aboutTextLink:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #BF401F;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px); }

.aboutLink:hover .aboutTextLink:before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

.pageHero.culture {
  background-image: url("../images/thai_dude.jpg");
  background-position: center 65%; }

.discoverStripe {
  position: relative;
  background-color: #3B6566;
  padding: 30px 0px;
  text-align: center;
  color: white;
  margin: 70px 0px; }

.discoverStripe h3, .discoverStripe .footer input, .footer .discoverStripe input {
  margin: 0 0 10px 0; }

.discoverStripe div {
  width: 750px;
  margin: 0 auto; }

.discoverStripe p, .discoverStripe .photoCaption, .discoverStripe .tacoIntro .numberReviews, .tacoIntro .discoverStripe .numberReviews {
  margin: 0; }

.map {
  position: relative;
  padding: 0 0 0 120px;
  overflow: hidden; }

.map img {
  margin: 0 auto; }

.marker {
  position: absolute;
  height: 25px;
  width: 25px;
  background: #BF401F;
  border-radius: 25px;
  border: 4px solid white;
  cursor: pointer; }

.marker.disabled {
  opacity: .5;
  cursor: not-allowed; }

.marker:after {
  content: "Locust";
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  top: -55px;
  box-shadow: 0px 3px 5px #CCCCCC;
  left: -35px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.marker:hover:after {
  opacity: 1; }

.marker.disabled:hover:after {
  opacity: 0; }

#israel {
  top: 33%;
  left: 55%; }

#m2 {
  top: 28%;
  left: 75%; }

#m3 {
  top: 40%;
  left: 16%; }

#m4 {
  top: 57%;
  left: 76%; }

#m5 {
  top: 49%;
  left: 44%; }

#m6 {
  top: 63%;
  left: 28%; }

#m7 {
  top: 78%;
  left: 52%; }

.modal {
  opacity: 0;
  visibility: hidden;
  height: 600px;
  width: 1000px;
  background-color: #BF401F;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  z-index: 999;
  -webkit-transition: visibility 0s ease 0s, opacity 0.5s ease 0.3s, -webkit-transform 0.5s ease-out 0.3s;
  -moz-transition: visibility 0s ease 0s, opacity 0.5s ease 0.3s, -moz-transform 0.5s ease-out 0.3s;
  transition: visibility 0s ease 0s, opacity 0.5s ease 0.3s, transform 0.5s ease-out 0.3s; }

.modal.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.modal .left {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../images/locust.jpg");
  background-position: center center;
  background-size: cover;
  box-sizing: border-box; }

.modal .right {
  float: left;
  color: white;
  padding: 40px;
  width: 50%;
  height: 100%;
  box-sizing: border-box; }

.modal .right p.sub, .modal .right .marker:after, .modal .right .sub.photoCaption, .modal .right .tacoIntro .sub.numberReviews, .tacoIntro .modal .right .sub.numberReviews {
  color: #7A0000;
  margin-bottom: 50px; }

.modal .right h3, .modal .right .footer input, .footer .modal .right input {
  margin-bottom: 0; }

.modal:after {
  content: "x";
  font-family: museoSans;
  font-weight: 100;
  font-size: 46px;
  position: absolute;
  right: 10px;
  top: -13px;
  cursor: pointer; }

.overlay {
  display: none;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99; }

.alreadyEat {
  margin-top: 160px;
  margin-bottom: 120px; }

.alreadyEat .heading {
  margin-bottom: 90px; }

.alreadyEat h5 {
  margin: 0;
  color: #BF401F; }

.alreadyEat h4 {
  position: relative;
  margin-bottom: 35px;
  color: #3B6566; }

.alreadyEat h4:after {
  content: "";
  position: absolute;
  background-color: #3B6566;
  height: 3px;
  width: 190px;
  bottom: -3px;
  left: 0; }

.alreadyEat h2 {
  color: #BF401F; }

.alreadyEat p, .alreadyEat .photoCaption, .alreadyEat .tacoIntro .numberReviews, .tacoIntro .alreadyEat .numberReviews {
  max-width: 600px; }

.alreadyEat .item {
  text-align: center;
  color: #3B6566; }

.alreadyEat .item h2 {
  color: #3B6566; }

.alreadyEat .item img {
  margin-bottom: 30px;
  height: 150px; }

.alreadyEat .item p, .alreadyEat .item .photoCaption, .alreadyEat .item .tacoIntro .numberReviews, .tacoIntro .alreadyEat .item .numberReviews {
  margin-bottom: 10px; }

#fragments {
  position: absolute;
  right: 0;
  top: -200px;
  width: auto;
  height: 125%;
  z-index: -9; }

.natural {
  position: relative;
  padding: 50px 0 150px 0;
  background-color: #BF401F;
  color: #F0E6BF;
  margin-bottom: 100px;
  margin-top: 100px; }

#cave {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%; }

.photoCaption {
  position: absolute;
  left: 230px;
  bottom: -90px;
  background-color: #F0E6BF;
  color: black;
  padding: 10px 15px;
  font-size: 15px; }

.tacoIntro {
  position: relative;
  margin-top: 80px;
  padding: 130px 0 300px 0;
  margin-bottom: 80px; }

.tacoIntro .seven {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.tacoIntro h2 {
  color: #3B6566; }

#floatingTacos {
  position: absolute;
  left: 0;
  top: 120px;
  width: 850px;
  -webkit-animation-duration: 1.8s;
  -moz-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

#tacoPattern {
  position: absolute;
  right: -30px; }

.tacoIntro .rating {
  float: left;
  margin-right: 15px; }

.tacoIntro .numberReviews {
  float: left;
  line-height: 26px;
  color: #3B6566; }

.whatTaste {
  margin-bottom: 80px; }

.whatTasteIntro h3, .whatTasteIntro .footer input, .footer .whatTasteIntro input {
  color: #BF401F; }

.whatTasteIntro h5 {
  margin-bottom: 60px; }

.whatTasteIntro {
  margin-bottom: 60px; }

.tasteItem {
  position: relative;
  height: 340px; }

.tasteItem:after {
  content: "+";
  position: absolute;
  color: #BF401F;
  font-size: 24px;
  right: -15px;
  bottom: 135px; }

.tasteItem:last-of-type:after {
  content: "";
  position: absolute;
  color: #BF401F;
  font-size: 24px;
  right: -43px;
  bottom: 150px; }

.tasteItem img {
  display: block;
  width: 175px;
  margin: 0 auto; }

.tasteItem h5 {
  text-align: center;
  text-transform: uppercase;
  color: #3B6566; }

.omegaIntro {
  margin-bottom: 20px; }

.omegaIntro h5 {
  color: #6CB6BC;
  margin: 0; }

.omega {
  color: #3B6566;
  padding: 50px 0 90px 0; }

.faqIntro {
  margin-top: 80px;
  height: 350px;
  color: white;
  background-color: #3B6566;
  color: white;
  background-image: url("../images/patternFineBlack.png");
  background-size: cover;
  overflow: hidden;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

#faqAnimate {
  margin-top: 75px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: easeOutQuint;
  -moz-animation-timing-function: easeOutQuint;
  animation-timing-function: easeOutQuint; }

.faqContent {
  margin-top: 100px;
  margin-bottom: 100px; }

.question {
  position: relative;
  width: 100%;
  text-align: left; }

.question:first-of-type:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D5D5D5; }

.question:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D5D5D5; }

.faqTitle {
  height: 65px;
  cursor: pointer;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.faqContent .Q {
  position: relative;
  font-weight: 900;
  font-size: 35px;
  color: #BF401F;
  float: left;
  line-height: 65px;
  text-align: center;
  height: 100%;
  width: 65px;
  margin-right: 20px;
  overflow: hidden; }

.faqContent .Q:before {
  content: "Q";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-weight: 900;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  background-color: #BF401F;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(-65px);
  -moz-transform: translateX(-65px);
  -ms-transform: translateX(-65px);
  -o-transform: translateX(-65px);
  transform: translateX(-65px); }

.faqTitle:hover .Q:before {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.faqContent h3, .faqContent .footer input, .footer .faqContent input {
  font-weight: 500;
  font-size: 28px;
  color: #BF401F;
  float: left;
  line-height: 65px;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.answer {
  display: none;
  padding: 25px 95px 35px 95px;
  text-align: left;
  max-width: 750px; }

.answer p, .answer .photoCaption, .answer .tacoIntro .numberReviews, .tacoIntro .answer .numberReviews {
  margin-top: 23px;
  margin-bottom: 10px; }

.answer p:first-of-type, .answer .photoCaption:first-of-type, .answer .tacoIntro .numberReviews:first-of-type, .tacoIntro .answer .numberReviews:first-of-type {
  margin-top: 0px; }

.question.active .Q, .question.active .faqTitle {
  background-color: #BF401F;
  color: white; }

.question.active .faqTitle h3, .question.active .faqTitle .footer input, .footer .question.active .faqTitle input {
  color: white; }

.question.active .Q:before {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.faqMore p, .faqMore .photoCaption, .faqMore .tacoIntro .numberReviews, .tacoIntro .faqMore .numberReviews {
  margin-bottom: 10px; }

.faqMore {
  margin-bottom: 125px; }

.healthHero {
  background-image: url("../images/healthhero.jpg"); }

.protein {
  margin-top: 60px; }

.protein h3, .protein .footer input, .footer .protein input {
  color: #3B6566; }

.allAminoAcids {
  padding-top: 40px; }

.aminoAcid {
  position: relative; }

.aminoAcid img {
  position: absolute;
  left: 0;
  top: 0; }

.aminoAcid p, .aminoAcid .photoCaption, .aminoAcid .tacoIntro .numberReviews, .tacoIntro .aminoAcid .numberReviews {
  padding-left: 70px;
  line-height: 50px; }

.calcium {
  margin-top: 120px; }

.calcium img {
  height: 250px;
  width: auto; }

.calcium h3, .calcium .footer input, .footer .calcium input {
  margin-top: 20px;
  color: #3B6566; }

.healthOmega {
  margin-top: 120px;
  margin-bottom: 150px; }

.healthOmega h3, .healthOmega .footer input, .footer .healthOmega input {
  color: #3B6566; }

.healthOmega h5 {
  color: #3B6566;
  margin-bottom: 0; }

/*# sourceMappingURL=app.css.map */
